node_modules/
.next/
out/
dist/
build/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel/
coverage/
.turbo/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
android/.gradle/
ios/Pods/
ios/.symlinks/
*.iml
.idea/
supabase/.branches/
supabase/.temp/
